extends layout

block content
  h1= title
  p technology results
  div(class="container-fluid")
        div(class="row")
            -
                let technology = results

            each v,index in technology
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.type}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.estblishementdate}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Areas_of_technology}

                script.                
                      function buy(technologyNo)
                      {
                            alert(`Type of technology ${technologyNo+1}`)
                      }