extends layout 

block content
  h1= title
  - let technology = results;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row m-1')
      each m, index in technology 
       - let destination = `dispatch(\"/technology/update?id=${m._id}\")` 
       div(class="col-sm-2" onclick=`buy(${index})`) #{m.type} #{m.estblishementdate} #{m.Areas_of_technology}
       button.btn( class="btn-primary ml-1", onclick= destination) Update 
  script. 
    function dispatch(path){ 
      window.location.href=path 
    }